@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "founders-grotesk";
  src: url("/public/fonts/FoundersGrotesk-Regular.otf") format("otf");
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-dark: #1f2937;
  --font-poppins: Poppins, sans-serif;
  --font-playfair: Playfair Display, serif;
  --font-lato: Lato, sans-serif;
  --font-founders-grotesk: founders-grotesk, sans-serif;
  --font-space-grotesk: Space Grotesk, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground bg-black;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .border {
    @apply border-2 border-amber-300;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .absolute-layer {
    @apply absolute inset-0 z-10 h-full rounded-3xl bg-black opacity-50;
  }
  .absolute-video-position {
    @apply absolute inset-0 z-0 h-full w-full rounded-3xl object-cover object-center;
  }

  .border-gradient {
    @apply bg-gradient-to-r from-purple-500 via-indigo-500 to-blue-500;
  }

  .about-gradient-1 {
    @apply bg-gradient-to-tr from-[#244855] via-[#E64833] to-[#FBE9D0];
  }

  .about-gradient-2 {
    @apply bg-gradient-to-r from-[#2C3531] via-[#116466] via-[#D9B08C] via-[#FFCB9A] to-[#D1E8E2];
  }
  .about-gradient-3 {
    @apply bg-gradient-to-r from-[#5680E9] via-[#5AB9EA] via-[#84CEEB] via-[#C1C8E4] to-[#8860D0];
  }

  .about-gradient-4 {
    @apply bg-gradient-to-r from-[#4285F4] via-[#5C2018] via-[#BC4639] via-[#D4A59A] to-[#F3E0DC];
  }
  .bg-fuji {
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url("/images/landscape2.jpg");
  }
}
